<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <h1 class="text-4xl my-6">Edit note</h1>

  <%= render "form", note: @note %>
  <%= link_to "Back to notes", root_path, class: "ml-2 border border-black rounded-md px-6 py-3  hover:bg-gray-300" %>
</div>
