<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-4">
  <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="flex flex-col place-content-center items-center py-16 md:items-start">
      <h1 class="text-6xl font-light lending-7 text-black">Make Notes</h1>
      <h2 class="mt-4 text-2xl font-light lending-2 text-black">Effortlessly organize your notes</h2>
      <div class="mt-8">
        <%= link_to 'Get started',new_user_registration_path,class:"border border-black rounded-md px-6 py-2 mt-8 hover:-ml-1 hover:mt-7 hover:border-b-4 hover:border-r-4" %>
      </div>
    </div>
    <%= image_tag 'landing_img.svg' ,class: "w-96 md:w-full mx-auto py-0 md:py-16"%>
  </div>
</div>